 {% extends 'index.html' %} {% block body %}
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <form class="layui-form" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">脚本编号</label>
        <div class="layui-input-block">
          <input type="text" name="scriptid" lay-verify="scriptid" autocomplete="off" placeholder="请输入脚本id" class="layui-input" id="scriptID">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">ip地址:</label>
        <div class="layui-input-block">
          <input type="text" name="Host" lay-verify="host" autocomplete="off" placeholder="请输入服务器ip地址" class="layui-input" id="hostID">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">端口号:</label>
        <div class="layui-input-block">
          <input type="text" name="Port" lay-verify="port" autocomplete="off" placeholder="请输入端口号" class="layui-input" id="portID">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">延迟时间:</label>
        <div class="layui-input-block">
          <input type="text" name="Delay" lay-verify="delay" autocomplete="off" placeholder="请输入数据包发送延迟时间" class="layui-input" id="delayID">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">发送方式</label>
        <div class="layui-input-block">
          <input type="radio" name="I3" value="I31" title="数量" checked>
          <input type="radio" name="I3" value="I32" title="流量">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
          <input type="text" name="Num" lay-verify="num" autocomplete="off" placeholder="请输入数据包发送数量" class="layui-input" id="numID">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">网络层协议</label>
        <div class="layui-input-block">
          <input type="radio" name="I1" value="IP" title="IP" checked>
          <input type="radio" name="I1" value="ICMP" title="ICMP">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">传输层协议:</label>
        <div class="layui-input-block">
          <input type="radio" name="I2" value="TCP" title="TCP" checked>
          <input type="radio" name="I2" value="UDP" title="UDP">
        </div>
      </div>


      <div>
        <button class="layui-btn layui-btn-radius" id="confirmation" type="button">确认</button>
        <button class="layui-btn layui-btn-radius" id="recall" type="button">取消</button>
      </div>
    </form>

    <script src="/static/layui-v2.2.6/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
      layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
          , layer = layui.layer
          , layedit = layui.layedit
          , laydate = layui.laydate;

      });
    </script>
  </div>
</div>
<script>
  $('#confirmation').click(function () {
    var index = layer.load();
    $.ajax({
      type: "POST",//为post请求
      url: "/http",//这是我在后台接受数据的文件名
      data: {
        "host": $("#hostID").val(),
        "port": $("#portID").val(),
        "delay": $("#delayID").val(),
        "num": $("#numID").val(),
      },success:function(data){
        layer.alert('发送完毕', { icon: 1 });
        layer.close(index);
      },
    });
  })
</script> {% endblock %}