 {% extends 'index.html' %} {% block body %}
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <form class="layui-form" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">ip地址:</label>
        <div class="layui-input-block">
          <input type="text" name="Host" lay-verify="host" autocomplete="off" placeholder="请输入服务器ip地址" class="layui-input" id="hostID">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">端口号:</label>
        <div class="layui-input-block">
          <input type="text" name="Port" lay-verify="port" autocomplete="off" placeholder="请输入端口号" class="layui-input" id="portID">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-block">
          <input type="text" name="Num" lay-verify="num" autocomplete="off" placeholder="请输入数据包发送数量" class="layui-input" id="numID">
        </div>
      </div>


      <div class="layui-form-item">
        <label class="layui-form-label">延迟时间:</label>
        <div class="layui-input-block">
          <input type="text" name="Delay" lay-verify="delay" autocomplete="off" placeholder="请输入数据包发送延迟时间" class="layui-input" id="delayID">
        </div>
      </div>
      <br>

      <div>
        <button class="layui-btn layui-btn-radius" id="confirmation" type="button" style="margin-left:40px">确认</button>
        <button class="layui-btn layui-btn-radius" id="recall" type="button" style="margin-left:20px">取消</button>
      </div>
    </form>

    <script src="/static/layui-v2.2.6/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
      layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
          , layer = layui.layer
          , layedit = layui.layedit
          , laydate = layui.laydate;

      });
    </script>
  </div>
</div>
<script>
  $('#confirmation').click(function () {
    var index = layer.load();
    var mydate = new Date();
    $.ajax({
      type: "POST",//为post请求
      url: "/tcp",//这是我在后台接受数据的文件名
      data: {
        "host": $("#hostID").val(),
        "port": $("#portID").val(),
        "delay": $("#delayID").val(),
        "num": $("#numID").val(),
      }, success: function (data) {
        var mydate1 = new Date();
        var tm = mydate1.getTime() - mydate.getTime();
        var a = "发送" + $("#numID").val() + "个数据包，耗时" + tm/1000 + "s"
        layer.alert(a, { icon: 1 });
        layer.close(index);
      },
    });
  })
</script> {% endblock %}